%book-row {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.2em;
}

div.row.es-book-row {
  div {
    @extend %book-row;
  }
}

.es-book-row-container:nth-child(odd) > .es-book-row {
  background: rgba(0, 0, 0, 0.05);
}

.es-book-header-row {
  div {
    @extend %book-row;
    font-weight: bold;
  }
}
