%book-row {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.es-book-row {
    div {
        @extend %book-row;
    }
}

.es-book-header-row {
    div {
        @extend %book-row;
        font-weight: bold;
    }
}

.es-icon-button {
    cursor: pointer;
}

%faded-text {
    font-weight: lighter;
}

.es-faded-text {
    @extend %faded-text;
}

.es-author {
    padding-right: 0.75em;
}

.es-title-line {
    h3 {
        display: inline;
        padding-right: 0.5em;
    }
}

.es-row-highlight:hover {
    background: lightblue
}
