%book-row {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.es-book-row {
    div {
        @extend %book-row;
    }
}

.es-book-header-row {
    div {
        @extend %book-row;
        font-weight: bold;
    }
}

%icon-button {
    cursor: pointer;
}

.es-icon-button {
    @extend %icon-button;
}

.es-icon-button-large {
    @extend %icon-button;
    font-size: 2em;
}

.es-icon-button-toggled {
    color: lightblue;
}

.es-link-icon-button {
    color: black;
}

%faded-text {
    font-weight: lighter;
}

.es-faded-text {
    @extend %faded-text;
}

.es-author {
    padding-right: 0.75em;
}

.es-title-line {
    h3 {
        display: inline;
        padding-right: 0.5em;
    }
}

.es-row-highlight:hover {
    background: lightblue;
    cursor: pointer;
}

.es-book-card {
    padding-bottom: 2em;

    .es-cover-image {
        max-width: 100%;
    }
}
