<div class="container">
  <app-control-bar [infoItems]="infoItems" (saveRequested)="handleSaveRequested()"></app-control-bar>
  <div class="card">
    <h5 class="card-header">Books</h5>
    <div class="card-body">
      <app-book-content-table [libraryData$]="libraryData$" (contentChanged)="handleBooksChanged()"></app-book-content-table>
    </div>
  </div>
  <br />
  <div class="card">
    <h5 class="card-header">
      Videos
    </h5>
    <div class="card-body">
      <app-video-summary-table [videos$]="(libraryData$ | async)?.videos$" [libraryName]="(libraryData$ | async)?.libraryName" (contentChanged)="handleVideosChanged()"></app-video-summary-table>
    </div>
  </div>
</div>
