<div class="row" *ngFor="let rowData of tableData$ | async">
  <div class="col-sm-2" [title]="rowData.title">{{rowData.title}}</div>
  <div class="col-sm-2" [title]="rowData.authors">{{rowData.authors | valueList}}</div>
  <!--<div className="col-sm-2" title={book.publisher}>{book.publisher}</div>
  <div className="col-sm-1">{formatDateShort(book.datePublished)}</div>
  <div className="col-sm-2">{book.isbn}</div>
  <div className="col-sm-1">{book.metadata && book.metadata.rating}</div>
  <div className="col-sm-1" title={tags}>{tags}</div>
  <div className="col-sm-1 text-center es-icon-button" aria-label="Expand Book" onClick={this.props.onExpandRow}>
    <i className="material-icons" aria-hidden="true">{this.props.expanded ? 'expand_less' : 'expand_more'}</i>
  </div>-->
</div>