<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>E-Book Server</title>

    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="./node_modules/material-design-icons/iconfont/material-icons.css" />

    <link rel="stylesheet" href="./src/style.css" />

    <script type="text/javascript" src="./node_modules/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="./node_modules/underscore/underscore.js"></script>
    <script type="text/javascript" src="./node_modules/backbone/backbone.js"></script>
    <script type="text/javascript" src="./node_modules/popper.js/dist/umd/popper.js"></script>
    <script type="text/javascript" src="./node_modules/bootstrap/dist/js/bootstrap.js"></script>

    <script type="text/template" id="bookTableTemplate">
        <div class="row es-book-row">
            <div class="col-sm-2"><%= title %></div>
            <div class="col-sm-2"><%= authors %></div>
            <div class="col-sm-2"><%= publisher %></div>
            <div class="col-sm-1"><%= datePublished %></div>
            <div class="col-sm-2"><%= isbn %></div>
            <div class="col-sm-1"><%= metadata.rating %></div>
            <div class="col-sm-1"><%= metadata.tags %></div>
            <div class="col-sm-1 es-icon-button" aria-label="Expand Book">
                <i class="material-icons" aria-hidden="true">expand_more</i>
            </div>
        </div>
        <div id="expand-<%= id %>"></div>
    </script>

    <script type="text/template" id="bookTemplate">
        <div class="card card-body">
            <p><%= title %></p>
        </div>
    </script>

    <script type="text/javascript" src="./src/lib.js"></script>
</head>

<body>
    <div class="container">
        <br />
        <p>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseLibraryAdmin" aria-expanded="false"
                aria-controls="collapseLibraryAdmin">Admin</button>
        </p>
        <div class="collapse" id="collapseLibraryAdmin">
            <div class="card card-body">
                <form id="saveLibrary" action="/save" method="post">
                    <button type="submit" class="btn btn-primary" aria-describedby="saveLibraryHelp">Save</button>
                    <small id="saveLibraryHelp" class="form-text text-muted">Save your library often!</small>
                </form>
            </div>
            <div class="card card-body">
                <!-- Load library -->
                <form id="loadLibrary" action="/load" method="get">
                    <div class="form-group">
                        <label for="libraryNameInput">Library name</label>
                        <input type="text" class="form-control" id="libraryNameInput" aria-describedby="libraryNameHelp" placeholder="Enter name">
                        <small id="libraryNameHelp" class="form-text text-muted">This is the file name of your library</small>
                    </div>
                    <button type="submit" class="btn btn-primary">Load</button>
                </form>
                <!-- End: Load library -->
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-2">Title</div>
            <div class="col-sm-2">Authors</div>
            <div class="col-sm-2">Publisher</div>
            <div class="col-sm-1">Date</div>
            <div class="col-sm-2">ISBN</div>
            <div class="col-sm-1">Rating</div>
            <div class="col-sm-1">Tags</div>
            <!-- one left over for expand button -->
        </div>
        <div id="libraryBind"><!-- backbone target --></div>
    </div>
</body>

</html>